<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <img alt="image" class="img-responsive" src="<%= image_url 'headerlogo.jpg' %> " height="50px" />
        <!--  <div class="col-lg-6">
        <img alt="image" src="<%= image_url 'l3.jpg' %>" style="margin-left:-15px;" />
        </div>
        <div class="col-lg-2">
        <img alt="image" src="<%= image_url 'l2.jpg' %>" style="align:center;"/>
        </div>
        <div class="col-lg-4">
            <img alt="image" src="<%= image_url 'l1.jpg' %>" style="margin-top:15px;margin-left:220px;" />
        </div>  -->
        
        <div class="clearfix"></div>
          <ol class="breadcrumb">
                <li>
                    <a href="<%= url_for :controller => 'source_data', :action => 'chart' %>">Dashboard</a>
            </li>
            <li>
                 <a href="<%= url_for :controller => 'source_data', :action => 'nsnlist' %>">CMM Searcher</a>
            </li>
            <li class="active">
                <strong>Dictionary</strong>
            </li>
        </ol>
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <!--div class="ibox-title">
                <h5>Border Table </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div-->
            <div class="ibox-content">
                <table class="table table-bordered">
                    <tr>
                        <th class="active">Concept Identifier:</th>
                        <td><%= @esci%></td>
                        <th class="active">Status</th>
                         <% @con_dn.each do |t|  %> 
                            <td><% if t.concept_is_deprecated== '0' %>
                            Active
                            <% else %>
                            Inactive             
                            <% end %> </td>
                         <% end %>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
             <h2> Terms </h2>
                <table class="table table-bordered">
                    <thead> 
                        <tr> 
                            <th>Term ID</th>
                            <th>Language</th>
                            <th>Term</th>
                            <th>Source</th>
                            <th>Source Reference</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                     <% @mm.each do |t|  %> 
                        <tr>
                            <td><%= t.term_ID %></td> 
                           <td><%= t.language_name %></td>
                           <td><%= t.content %></td>
                           <td><%= t.organization_name %></td>
                            <td><%= t.orginator_reference %></td>
                            <td><% if t.is_Deprecated== '0' %>
                            Active
                            <% else %>
                            Inactive             
                            <% end %>
                       
                        </tr>
                     <% end %>
                    </tbody>
                </table>
            </div>
        </div>
          <div class="ibox float-e-margins">
            <div class="ibox-content"> 
                <h2> Definitions</h2>
                <table class="table table-bordered">
                    <thead> 
                        <tr> 
                            <th>Definition ID</th>
                            <th>Language</th>
                            <th>Term</th>
                            <th>Source</th>
                            <th>Source Reference</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                          <% @def.each do |d|  %> 
                        <tr>
                            <td><%= @definition %></td> 
                            <td><%= d.language_name %></td>
                            <td><%= d.content %></td>
                            <td><%= d.organization_name %></td>
                            <td><%= d.orginator_reference %></td>
                            <td><% if d.is_Deprecated== '0' %>
                            Active
                            <% else %>
                            Inactive             
                            <% end %>
                            </td> 
                        </tr>
                     <% end %>
                        </tr>
                 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
</div>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var updateOutput = function (e) {
        var list = e.length ? e : $(e.target),
                output = list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        } else {
            output.val('JSON browser support required for this demo.');
        }
    };
    // activate Nestable for list 1
    $('#nestable').nestable({
        group: 1
    }).on('change', updateOutput);

    // activate Nestable for list 2
    $('#nestable2').nestable({
        group: 1
    }).on('change', updateOutput);

    // output initial serialised data
    updateOutput($('#nestable').data('output', $('#nestable-output')));
    updateOutput($('#nestable2').data('output', $('#nestable2-output')));

    $('#nestable-menu').on('click', function (e) {
        var target = $(e.target),
                action = target.data('action');
        if (action === 'expand-all') {
            $('.dd').nestable('expandAll');
        }
        if (action === 'collapse-all') {
            $('.dd').nestable('collapseAll');
        }
    });

});

</script>

<% end %>
    
